/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusatest.sqlite




# Uploaded files
static/uploads/
static/*.jpg
static/*.png
static/*.mp4

# Build output
.medusa/
test.sqlite
